h1, h2, h3, h4, h5, h6 {
    font-family: 'Impact', Charcoal, sans-serif;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0097b2;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
}

.brand-title{
    font: bebas neue;
    color: #ff914d;
    text-shadow: 2px 2px 4px #000000;
}

.nav-button {
    background-color: #ff914d;
    color: black;
    font-size: smaller;
    margin: 21px;
    padding: 0px;
}

header {
    display: flex;
    font-size: 12px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3%;
    color: black;
    text-shadow: 2px 2px 4px #000000;
}

footer {
    display: flex;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3%;
    color: white;
}

/* comment : everything above copy */

.temp-border-box {
    text-align: center;
    width: auto;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px black;
}



