h1, h2, h3, h4, h5, h6 {
    font-family: 'Impact', Charcoal, sans-serif;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0097b2;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
}

.nav-button {
    background-color: #ff914d;
    color: black;
    font-size: smaller;
    margin: 21px;
    padding: 0px;
}

.brand-title{
    font: bebas neue;
    color: #ff914d;
    text-shadow: 2px 2px 4px #000000;
}

header {
    display: flex;
    font-size: 12px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3%;
    color: black;
    text-shadow: 2px 2px 4px #000000;
}

footer {
    display: flex;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3%;
    color: white;
}

/* dont touch above this line */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.drop-down {
    margin: 10px;
}

.drop-down select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


button {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.filter-box {
    display: flex;
    flex-direction: column;
}

.tasks {
    width: 400px;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.calendar {
    width: 900px;
    margin: 10px;
}

